{% extends 'aiadmin/aiadmin_base.html' %}
{% block content %}
    <h1>Courses</h1>
    <div class="d-flex justify-content-end mt-3">
        <a class="btn btn-dark" href="{% url 'course_add' %}">Add Course</a>
    </div>
    <div class="card mt-3">
        <div class="card-body">
            <table class="table table-responsive">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>University</th>
                        <th>Short Description</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for course in courses %}
                        <tr>
                            <td>{{ course.name }}</td>
                            <td>{{ course.university.name }}</td>
                            <td>{{ course.short_description }}</td>
                            <td>
                                <a class="btn btn-primary btn-sm" href="{% url 'course_edit' course.pk %}">Edit</a>
                                <a class="btn btn-danger btn-sm" href="{% url 'course_delete' course.pk %}">Delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
