{% extends 'aiadmin/aiadmin_base.html' %}
{% block content %}
    <h1>Upload Training File</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="d-flex align-items-baseline mt-3">
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Upload</button>
        </div>
    </form>
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <div class="card mt-3">
        <div class="card-body">
            <table class="table table-responsive" id="table1">
                <thead>
                <tr>
                    <th>File Path</th>
                    <th>Model Path</th>
                    <th>Accuracy</th>
                    <th>Created At</th>
                </tr>
                </thead>
                <tbody>
                {% for object in trained_model_list %}
                    <tr>
                        <td>{% if object.file %}{{ object.file }}{% else %}Self Training{% endif %}</td>
                        <td>{{ object.get_model_path }}</td>
                        <td>{{ object.accuracy|floatformat:2 }}</td>
                        <td>{{ object.uploaded_at }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>


{% endblock content %}
{% block js %}

{% endblock js %}