{% extends 'aiadmin/aiadmin_base.html' %}
{% block content %}
    <h1>University Profiles</h1>
    <div class="d-flex justify-content-end mt-3">
        <a class="btn btn-dark" href="{% url 'university_profile_add' %}">Add University Profile</a>
    </div>
    <div class="card mt-3">
        <div class="card-body">
            <table class="table table-responsive">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Address</th>
                        <th>Site URL</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for university in universities %}
                        <tr>
                            <td>{{ university.name }}</td>
                            <td>{{ university.address }}</td>
                            <td>{{ university.site_url }}</td>
                            <td>
                                <a class="btn btn-primary btn-sm" href="{% url 'university_profile_edit' university.pk %}">Edit</a>
                                <a class="btn btn-danger btn-sm" href="{% url 'university_profile_delete' university.pk %}">Delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
